@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*font-family: 'Poppins', sans-serif; */

.navbar-container {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 1px 9px 9px #0000000f;
    padding: 10px;
    padding-top: 12px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-width: 1920px;
    height: 56px;
}

.navbar-components {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.navbar-selection {
    width: 1860px;
    display: flex;

}

.navbar-headers {
    width: 950px;
    display: flex;
    margin-left: 130px;
    margin-right: 100px;
}

.nav-logo {
    width: 146px;
    height: 53px;
}

.navbar-selection h3 {
    cursor: pointer;
    margin-block-start: 20px;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.navbar-search-container {
    display: flex;
    align-items: center;
    margin-right: 130px;
}

.navbar-search-input {
    position: relative;
    border-radius: 10px;
    height: 45px;
    width: 210px;
    background-color: #00000009;
    padding-left: 35px;
    border: 0.1px #ADADAD solid;
    font-size: 14px;
}

.navbar-search-icon {
    position: absolute;
    margin-left: 10px;
    color: black;
    cursor: pointer;
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.navbar-login, .navbar-signup {
    border-radius: 16px;
    height: 40px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    font-weight: bold;
}

.navbar-login {
    background-color: #fff;
    border: 1px solid #ADADAD;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
}

.navbar-signup {
    background-color: #B5313F;
    border: 1px solid #B5313F;
    color: #fff;
    margin-left: 20px;
}

.Navlink {
    text-decoration: none;
    color: black;
}