@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.homepage-container {
    width: 1920px;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.homepage-components {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

.homepage-header {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: #4D4D4D;
    
}

.homepage-top-background {
    width: auto;
    height: 720px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/homepagebackground.png");
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 60px;

}
.homepage-top-text {
    padding-top: 230px;
}
.homepage-header-top {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: white;
}
.homepage-header-top2 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.red-line {
    background-color: #B5313F;
    height: 5px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}
.homepage-button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 325px;
    margin-top: 50px;
    background-color: #B5313F;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);


}

.homepage-application-steps {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 120px;
}

.homepage-other-services-container {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;

}

.homepage-property-management, .homepage-holiday-accommodation {
    cursor: pointer;
}

.homepage-our-awards-text {
    color: #4B5563;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.homepage-awards {
    width: 920px;
    display: flex;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.homepage-client-feedback-container {
    width: 1396px;
    height: 610px;
    background-color: #EFEFEF;
    border-radius: 16px;
    margin-top: 90px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

.homepage-header-client {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: #4C4C4C;
    padding-top: 35px;
    padding-bottom: 90px;
    text-shadow: 1px 1px 1px #4c4c4c;
}
