@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.filterbar-container {
    width: 350px;
    margin-top: 130px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    background-color: #fafafa;
    padding: 0px 30px 50px 30px;
    border-radius: 16px;
    margin-bottom: 200px;
    box-shadow: 0px 3.29302px 3.29302px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
}

.filterbar-components {
    width: 250px;
    padding: 20px;
    background-color: #EFEFEF;
    border-radius: 16px;
}


.filterbar-header {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}  

.search-button {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 250px;
    background-color: #B5313F;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.clear-filters-button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 250px;
    background-color: white;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}